.editorContainer{
  margin-top: 100px;
}

.editorcontent{
  min-height: 400px;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  border: #000000 1px solid;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.cellButton{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

[id^="formula"]{
  min-width: 20px;
  pointer-events: all;
  font-style: italic;
  border-style: none;
  outline: none;
  width: auto;
  display: inline-block;
}

[id^="formula"]:focus{
  border-style: dotted;
}

[id^="symbol"]{
  display: inline-block;
  white-space: nowrap;
  pointer-events: stroke;
}

/* [^=frac] {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
}
[^=frac] > span {
    display: block;
    padding: 0.1em;
}
[^=frac] span.bottom {
    border-top: thin solid black;
}
[^=frac] span.divsymbol {
    display: none;
} */

.frac {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
}
.frac > span {
    display: block;
    padding: 0.1em;
}
.frac span.bottom {
    border-top: thin solid black;
}
.frac span.fracsymbol {
    display: none;
}
