.dynamicSuggestions{
  position:fixed;
}

.suggestionsEL{
  min-width:50px;
  background-color: lightgrey;
  outline: 1px black solid;
  margin-top: 1px;
}

.fraction, .top, .bottom {
    padding: 0 5px;
}

.fraction {
    display: inline-block;
    text-align: center;
}

.fracbar{
  border-bottom: 1px solid #000;
  position: absolute;
  left: 20%;
  right: 20%;
  top:50%;
  bottom: 50%;
}


.bottom{
    display: block;
}
