.dynamicSuggestions{
  position:fixed;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.suggestionsEL{
  min-width:50px;
  background-color: lightgrey;
  outline: 1px black solid;
  margin-top: 1px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom:5px;
}

.fraction, .top, .bottom {
    padding: 0 5px;
}

.fraction {
    display: inline-block;
    text-align: center;
}

.fraction .fracbar{
  border-bottom: 1px solid #000;
  position: absolute;
  left: 20%;
  right: 20%;
  top:50%;
  bottom: 50%;
}


.bottom{
    display: block;
}

.supsub {position: absolute}
.subscript {display:block; position:relative; left:1px; top: -5px}
.superscript {display:block; position:relative; left:1px; top: -5px}


[id^="formula"]{
  min-width: 20px;
  pointer-events: all;
  font-style: italic;
  border-style: none;
  outline: none;
  width: auto;
  display: inline-block;
}

[id^="formula"]:focus{
  border-style: dotted;
}
