.toolbar{

}
.tool-list{
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  padding: 0;
  margin: 1px;
  overflow: hidden;
}

.tool{

}

.tool--btn{
  display:block;
  padding: .5rem;
  font-size: 20px;
}

.justifyCenter{
  display: block;
  background: url("../toolbar/toolbarAssets/Centered.png");
  background-size: cover;
  border: 1px solid black;
  outline: none;
  max-height: 100px;
  max-width: 100px;
}
